            <div aria-live="polite" aria-atomic="true" style="min-height: 200px;">
            <div class="toast" style="position: absolute; bottom: 0; right: 0; float:right">          
            </div>
            </div>
        </div>
    </div>
</div>
    <script src="vendor/jquery/jquery.min.js?ver=1"></script>
    <script src="js/jwt-decode.js?ver=1"></script>
    <script src="js/utils.js?ver=1.9"></script>
    <script src="js/table.js?ver=1.79"></script>
    <script src="js/scripts.js?ver=1"></script>
    <script src="js/euro.js?ver=1.43"></script>
    <script src="js/dashboard.js?ver=1.52"></script>
    <script src="js/profile.js?ver=1.1"></script>
    <script src="js/quiz.js?ver=1.6"></script>
    <script src="js/roundSummary.js?ver=1.3"></script>
    <script src="js/previousRound.js?ver=1.35"></script>
    <script src="js/admin.js?ver=1.50"></script>
    <!-- Bootstrap --> 
    <script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>
