<div class="stage" style="text-align: center; margin-top: 1em">
  <h2 id="dashboard-round-display-name"></h2>
  <small id="dashboard-round-date"></small>
  <div id="dashboard-message"></div>
  <div>   
    <a href="#" class="d-inline-block" data-bs-toggle="tooltip" title="" data-bs-original-title="Default tooltip">
      <i class="bi bi-info-circle"></i>
    </a>
    <button id="myButton">My Button</button>
    <script>
      tippy('#myButton', {
        content: "I'm a Tippy tooltip!",
      });
    </script>
  </div>
</div>
<form id="add-ticket-form" enctype="application/x-www-form-urlencoded">
  <div id="dashboard-round-matches" class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center" style="text-align: center; margin-top: 1em;"></div>
  <div id="dashboard-warnings"style="color:red;text-align:center;margin-top:1em;">
  </div>
  <div id="dashboard-submit-button"></div>
</form>