<div class="stage" style="text-align: center; margin-top: 1em">
  <h2 id="dashboard-round-display-name"></h2>
  <small id="dashboard-round-date"></small>
  <div id="dashboard-message"></div>
  <div>   
      <i id="help" class="bi bi-info-circle"></i>
    <script>
      tippy('#help', {
        content: "<b style='color:green'>ZIELONY</b> - Mecz otwarty, wysłałeś na niego typy, ale możesz nadal je modyfikować <br /><b style='color:red'>CZERWONY</b> - Mecz otwarty, ale nie zapisałeś jeszcze typów na to spotkanie. <br/><b style='color:gray'>SZARY</b> - Mecz zamknięty, nie możesz wysyłać/aktualizować typów na to spotkanie",
        allowHTML: true
      });
    </script>
  </div>
</div>
<form id="add-ticket-form" enctype="application/x-www-form-urlencoded">
  <div id="dashboard-round-matches" class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center" style="text-align: center; margin-top: 1em;"></div>
  <div id="dashboard-warnings"style="color:red;text-align:center;margin-top:1em;">
  </div>
  <div id="dashboard-submit-button"></div>
</form>