<div class="stage" style="text-align: center; margin-top: 1em">
  <h2 id="dashboard-round-display-name"></h2>
  <small id="dashboard-round-date"></small>
  <div id="dashboard-message"></div>
</div>
<form id="add-ticket-form" enctype="application/x-www-form-urlencoded">
  <div id="dashboard-round-matches" class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center" style="text-align: center; margin-top: 1em;"></div>
  <div id="dashboard-warnings" class="invalid-feedback"></div>
  <div id="dashboard-submit-button"></div>
</form>