<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="groupStage-tab" data-bs-toggle="tab" data-bs-target="#groupStage" type="button" role="tab" aria-controls="groupStage" aria-selected="true">Faza grupowa</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="knockoutStage-tab" data-bs-toggle="tab" data-bs-target="#knockoutStage" type="button" role="tab" aria-controls="knockoutStage" aria-selected="false">Faza pucharowa</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
   <!--GROUP STAGE !-->
  <div class="tab-pane fade show active" id="groupStage" role="tabpanel" aria-labelledby="groupStage-tab">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="selectGroup">Grupa</label>
        </div>
        <select class="custom-select" id="selectGroup" onchange="selectGroup()">
            <option value="1" selected>A</option>
            <option value="2">B</option>
            <option value="3">C</option>
            <option value="4">D</option>
            <option value="5">E</option>
            <option value="6">F</option>
        </select>
    </div>
    <div id="group-table">
        <h2 style="text-align: center;">Tabela</h3>
        <div class="table-responsive">
            <table class="table table-sm table-striped" style="text-align: center;">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col">Reprezentacja</th>
                <th scope="col">RM</th>
                <th scope="col">W</th>
                <th scope="col">R</th>
                <th scope="col">P</th>
                <th scope="col">BZ</th>
                <th scope="col">BS</th>
                <th scope="col">RB</th>
                <th scope="col">PKT</th>
                </tr>
            </thead>
            <tbody id="group-table-body"></tbody>
        </table>
        </div>
    </div>
    <h2 style="text-align: center;">Terminarz</h3>
    <div id="euro2021-schedule"></div>
  </div>
  <!--KNOCKOUT STAGE !-->
  <div class="tab-pane fade" id="knockoutStage" role="tabpanel" aria-labelledby="knockoutStage-tab">
    <div class="row text-center">
      <div class="col-md-12">
        
          <div class="card-group">          
              <div class="card text-white bg-warning mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>          
          </div>
      
        <!--1/2-->
        <div class="row">
          <div class="card-group">
            
              <div class="card text-white bg-light mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>      
              <div class="card text-white bg-light mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
       
        </div>
        <!--1/4 -->
        <div class="row">
          <div class="card-group">
           
              <div class="card text-white bg-secondary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card text-white bg-secondary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card text-white bg-secondary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>            
              <div class="card text-white bg-secondary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
        
        </div>
        <!--1/8 -->
        <div class="row">
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header">18:00</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <b>Niemcy</b>
                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col">
                      <b>Polska</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          <!--
          <div class="card-group">
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">18:00</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <b>Niemcy</b>
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    <b>Polska</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">18:00</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <b>Niemcy</b>
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    <b>Polska</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">18:00</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <b>Niemcy</b>
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    <b>Polska</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">18:00</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <b>Niemcy</b>
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    <b>Polska</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">18:00</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <b>Niemcy</b>
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    <b>Polska</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">18:00</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <b>Niemcy</b>
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    <b>Polska</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">18:00</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <b>Niemcy</b>
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    <b>Polska</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">18:00</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <b>Niemcy</b>
                  </div>
                  <div class="col-2">
                  </div>
                  <div class="col">
                    <b>Polska</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          -->
      </div>
    </div> 
  </div>
</div>
