<h1 class="display-2">Euro 2021</h1>
<p class="lead">
  20 uczestników | Pula nagród: 2000 zł
</p>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-dark bg-warning mb-3" style="max-width: 18rem; float: none; margin: 0 auto;">
          <div class="card-header"><img src="img/crown.svg" style="width: 24px; height: 24px"/> <b>Winner</b> <img src="img/crown.svg" style="width: 24px; height: 24px"/></div>
          <div class="card-body">
            <h5 class="card-title">64 pkt</h5>
            <p class="card-text">10 PW | 5 WD | 7 Q</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem; float: none; margin: 0 auto;">
          <div class="card-header">Winner</div>
          <div class="card-body">
            <h5 class="card-title">64 pkt.</h5>
            <p class="card-text">20 typów | 10 prawidłowych wyników | 5 prawidłowych drużyn</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem; float: none; margin: 0 auto;">
          <div class="card-header">Winner</div>
          <div class="card-body">
            <h5 class="card-title">64 pkt.</h5>
            <p class="card-text">20 typów | 10 prawidłowych wyników | 5 prawidłowych drużyn</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>