<div class="row" style="text-align: center;">
  <h1 class="display-2" style="float: none; margin: 0 auto;">Euro 2021</h1>
  <p class="lead" style="float: none; margin: 0 auto;">
    20 uczestników | Pula nagród: 2000 zł
  </p>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="card text-dark bg-warning mb-3" style="max-width: 18rem; float: none; margin: 0 auto;">
          <div class="card-header"><img src="img/crown.svg" style="width: 24px; height: 24px"/> <b>Winner</b> <img src="img/crown.svg" style="width: 24px; height: 24px"/></div>
          <div class="card-body">
            <h5 class="card-title">64 pkt</h5>
            <p class="card-text">10 PW | 5 WD | 7 Q</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem; float: none; margin: 0 auto;">
          <div class="card-header">Winner</div>
          <div class="card-body">
            <h5 class="card-title">64 pkt.</h5>
            <p class="card-text">20 typów | 10 prawidłowych wyników | 5 prawidłowych drużyn</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem; float: none; margin: 0 auto;">
          <div class="card-header">Winner</div>
          <div class="card-body">
            <h5 class="card-title">64 pkt.</h5>
            <p class="card-text">20 typów | 10 prawidłowych wyników | 5 prawidłowych drużyn</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
</div>