{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}

<form action="/login" method="POST">
  <div class="mb-3">
    <label for="username" class="form-label">Login</label>
    <input type="text" class="form-control" name="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Hasło</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Zaloguj</button>
</form>
