<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>


<input id="last-round" type="text" class="form-control d-none" value="{{lastRound}}">
<div class="row mt-4">
    <div class="col d-flex flex-row justify-content-center my-flex-container">
       <nav>
        <ul id="last-round-nav" class="pagination pagination-lg">
        </ul>
        </nav>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <div id="last-round-accordion" class="accordion">

        </div>
    </div>
</div>