 <input id="last-round" type="text" class="form-control d-none" value="{{lastRound}}">
<div class="row mt-4">
    <div class="col d-flex flex-row justify-content-center my-flex-container">
       <nav>
        <ul id="last-round-nav" class="pagination pagination-lg">
        </ul>
        </nav>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <div id="last-round-accordion" class="accordion">

        </div>
    </div>
</div>