<div class="btn-group">
  <button type="button" class="btn btn-danger">Action</button>
  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>
 <input id="last-round" type="text" class="form-control d-none" value="{{lastRound}}">
<div class="row mt-4">
    <div class="col d-flex flex-row justify-content-center my-flex-container">
       <nav>
        <ul id="last-round-nav" class="pagination pagination-lg">
        </ul>
        </nav>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <div id="last-round-accordion" class="accordion">

        </div>
    </div>
</div>