<div class="row mt-3">
  <h3>Ustawienia</h3>
		<div class="col-md-6">
      <h5>Zmień hasło</h5>
      <form id="change-password-form" enctype="application/x-www-form-urlencoded">
        <div class="mb-3">
          <label for="password" class="form-label">Nowe hasło</label>
          <input type="password" class="form-control" id="password1" onchange="checkPasswords()" name="password">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Powtórz</label>
          <input type="password" class="form-control" id="password2" onchange="checkPasswords()">
        </div>
        <div id="change-password-form-message" class="form-text"></div>
         <input type="text" class="form-control d-none" id="change-password-form-userId" name="userId">
        <button id="change-password-button" type="submit" class="btn btn-primary disabled">Zapisz</button>
      </form>
		</div>
		<div class="col-md-6">
      <h5>Adres email</h5>
      <form id="change-email-form" enctype="application/x-www-form-urlencoded" class="row g-4">
        <div class="col-6">
          <input type="text" class="form-control d-none" name="userId" id="change-email-form-userId">
          <label for="profile-email" class="visually-hidden">E-mail</label>
          <input type="email" class="form-control" name="email" id="change-email-form-email">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Aktualizuj</button>
        </div>
      </form>
      <div id="user-stats-info" class="d-grid gap-2">
        <span class="badge bg-light text-dark">Twoje statystyki</span>
        <h6>Ilość zakładów:<span id="user-stats-ticket_counter" class="badge bg-secondary"></span></h6>
        <h6>Prawidłowe wyniki:<span id="user-stats-correct_score"class="badge bg-success"></span></h6>
        <h6>Prawidłowe drużyny:<span id="user-stats-correct_teams" class="badge bg-warning text-dark"></span></h6>
        <h6>Przegrane:<span id="user-stats-defeat" class="badge bg-danger"></span></h6>
        <h6>Z zakładów zdobyłeś łącznie: <span id="user-stats-points" class="badge bg-info text-dark"></span></h6>
      </div>
		</div>
	</div>

  <div class="row mt-4">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header " id="flush-headingOne">
          <button class="accordion-button collapsed bg-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="color: aliceblue;">
            <h5>Lista twoich typów</h5>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="padding:0">
          <div class="accordion-body" style="padding:0">
            <div class="table-responsive">
              <table class="table table-hover table-sm" style="text-align: center;">
                <thead>
                  <tr>
                    <th scope="col">Lp</th>
                    <th scope="col">Kolejka</th>
                    <th scope="col">Mecz</th>
                    <th scope="col">Typ</th>
                    <th scope="col">Wynik</th>
                    <th scope="col">Pkt</th>
                    <th scope="col">Data zapisania</th>
                  </tr>
                </thead>
                <tbody id="profile-user-ticket-table">
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
