<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Etap</th>
      <th scope="col">Funkcje</th>
      <th scope="col">Procent ukończenia</th>
      <th scope="col">Uwagi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Podstawowa aplikacja</td>
      <td></td>
      <td>100%</td>
      <td>Testowo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Podstrony</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Dashboard</td>
      <td>Obstawianie swoich typów</td>
      <td>100%<span class="badge bg-primary rounded-pill">new</span></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Tabela</td>
      <td>Aktualny stan tabeli</td>
      <td>100% <span class="badge bg-primary rounded-pill">new</span></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Euro 2021</td>
      <td> Informacje, statystyki o Euro</td>
      <td>80%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Logowanie, autoryzacja, obsługa konta</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Logowanie, wylogowanie</td>
      <td></td>
      <td>60%</td>
      <td>Bład podczas wpisania złych danych, bład po wylogowaniu</td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Autoryzacja</td>
      <td>Zabezpieczenie api admina</td>
      <td>10%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Dodawanie nowych użytkowników</td>
      <td>Zakładanie kont z poziomu panelu admina</td>
      <td>100%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Obsługa konta użytkownika</td>
      <td>Wymuszenie ustawienia swojego hasła podczas logowania, zmiana hasła w profilu</td>
      <td>0%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>System obstawiania</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Dodawanie swoich typów</td>
      <td></td>
      <td>100%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Wyświetlanie w dashdoard aktualnej kolejki i swoich typów</td>
      <td></td>
      <td>100%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Limity czasowe na obstawianie</td>
      <td></td>
      <td>0%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>System zliczania punktów</td>
      <td></td>
      <td>100% <span class="badge bg-primary rounded-pill">new</span></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Algorytm zliczania punktów użytkownika ze wszystkich dotychczasowych kolejek</td>
      <td></td>
      <td>0%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Algorytm zliczania punktów użytkownika z aktualnej kolejki</td>
      <td></td>
      <td>0%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Dodawanie punktów z Quizu po zakończeniu ligi</td>
      <td></td>
      <td>0%</td>
      <td>Przed zakończeniem rozgrywek, ukryć punkty za Quiz i odpowiedzi</td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Dodawanie wyników meczów w panelu admina</td>
      <td></td>
      <td>100%</td>
      <td>+Aktualizacja tabeli na podstronie Euro2021</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Historia i statystyki</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Zmiana pozycji użytkowników kolejka po kolejce</td>
      <td></td>
      <td>0%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">-</th>
      <td>Wyświetlenie archiwum typów użytkownika z podziałem na kolejki</td>
      <td></td>
      <td>0%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>QUIZ</td>
      <td></td>
      <td>0%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Development aplikacji na serwer</td>
      <td></td>
      <td>0%</td>
      <td>Na razie aplikacja działa na serwerze testowo</td>
    </tr>
     <tr>
      <th scope="row">-</th>
      <td>Nowa baza danych i bezpiecznie połączenie</td>
      <td></td>
      <td>0%</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Testy</td>
      <td></td>
      <td>0%</td>
      <td></td>
    </tr>
  </tbody>
</table>