<div class="row">
	<div class="col-12">
        <h1 class="display-2">Sprawdź jak odpowiadali inni</h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
        <div class="table-responsive">
            <table class="table table-sm table-hover">
            <thead>
                <tr>
                <th scope="col">User</th>
                <th scope="col">P1</th>
                <th scope="col">P2</th>
                <th scope="col">P3</th>
                <th scope="col">P4</th>
                <th scope="col">P5</th>
                <th scope="col">P6</th>
                <th scope="col">P7</th>
                <th scope="col">P8</th>
                <th scope="col">P9</th>
                <th scope="col">P10</th>
                <th scope="col">P11</th>
                <th scope="col">P12</th>
                <th scope="col">P13</th>
                <th scope="col">P14</th>
                <th scope="col">P15</th>
                <th scope="col">P16</th>
                <th scope="col">P17</th>
                <th scope="col">P18</th>
                <th scope="col">P19</th>
                <th scope="col">P20</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr>
                 <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr> <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr> <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr> <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr> <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr> <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr> <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr> <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr> <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr> <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr> <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr> <tr>
                    <th scope="row">Przemek</th>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                    <td>Lewandowski</td>
                    <td>1</td>
                    <td>3</td>
                    <td>Tak</td>
                    <td>Odpowiedź</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>