<div class="row">
	<div class="col-12 text-center">
        <h1 style="text-align: center;" class="display-2">Quiz - Typer-Cup 2022</h1>
        <a href="https://typer-cup.pl/quiz" class="btn btn-primary btn-sm mt-4" role="button">Powrót do twojego quizu</a>
	</div>
</div>
<div class="row">
	<div class="col-12">
        <small class="text-muted">Kliknij na odpowiedź, aby wyświetlić treść pytania</small>
	</div>
</div>
<div class="row">
	<div class="col-12">
        <div class="table-responsive">
            <table class="table table-sm table-hover caption-top">
                <thead style="text-align: center;">
                    <tr id="quiz-summary-questions">
                       
                    </tr>
                </thead>
                <tbody id="quiz-summary-answers" style="text-align: center;">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>