<div class="row">
	<div class="col-12">
        <h1 class="display-2">Sprawdź jak odpowiadali inni</h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead style="text-align: center;">
                    <tr id="quiz-summary-questions">
                       
                    </tr>
                </thead>
                <tbody id="quiz-summary-answers" style="text-align: center;">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>