<div class="row">
	<div class="col-12">
        <h1 style="text-align: center;" class="display-2">Quiz - Typer-Cup 2022</h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
        <small>Kliknij na odpowiedź, aby wyświetlić treść pytania</small>
	</div>
</div>
<div class="row">
	<div class="col-12">
        <div class="table-responsive">
            <table class="table table-sm table-hover caption-top">
                <caption>Kliknij na odpowiedź, aby zobaczyć treść pytania</caption>
                <thead style="text-align: center;">
                    <tr id="quiz-summary-questions">
                       
                    </tr>
                </thead>
                <tbody id="quiz-summary-answers" style="text-align: center;">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>