<div style="text-align: center;">
  <h2>Quiz Typer-Cup.pl 2024</h3>
  <span>Poniżej znajduje się Quiz startowy przed rozpoczęciem Euro. Składa się z 20 pytań. Za prawidłową odpowiedź otrzymasz dodatkowe 0,5 punkta. Odpowiedzi i punkty z tego Quizu zostaną ukryte do meczu finałowego. Zmiany możesz wprowadzać do 13.06.2024 - później Quiz będzie zablokowany.</span>
</div>
<div id="quiz-summary-button" class="text-center mt-4"></div>

<form id="save-user-quiz-form" enctype="application/x-www-form-urlencoded">
  <div id="quiz-cards"></div>
  <div class="d-grid gap-2 mt-5">
    <button id="save-user-quiz-button" type="submit" class="btn btn-primary btn-sm">Dodaj</button>
  </div>
</form>