<div class="row">
	<div class="col-12">
        <h1 class="display-2">Sprawdź jak odpowiadali inni</h1>
	</div>
</div>
<div class="row">
	<div class="col-12">
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead style="text-align: center;">
                    <tr>
                    <th scope="col">User</th>
                    <th scope="col">1<br /><small>(Messi)</small></th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    <th scope="col">9</th>
                    <th scope="col">10</th>
                    <th scope="col">11</th>
                    <th scope="col">12</th>
                    <th scope="col">13</th>
                    <th scope="col">14</th>
                    <th scope="col">15</th>
                    <th scope="col">16</th>
                    <th scope="col">17</th>
                    <th scope="col">18</th>
                    <th scope="col">19</th>
                    <th scope="col">20</th>
                    </tr>
                </thead>
                <tbody id="quiz-summary-answers" style="text-align: center;">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>