<div class="mt-3" id="regulations-rules">
    <h3 style="text-align: center;">Regulamin TYPER-CUP.PL</h3>
    <ol class="list-group list-group-numbered" style="text-align: center;">
    <li class="list-group-item">Możliwość wysyłania i aktualizacji zakładów na daną kolejkę <b>jest wyłączana na godzinę przed pierwszym spotkaniem</b></li>
    <li class="list-group-item">Punkty dodawane są po zaktualizowaniu wyników danego spotkania</li>
    <li class="list-group-item">Punkty za wskazanie dokładnego wyniku i wytypowanie wygranej drużyny nie sumują się</li>
    <li class="list-group-item">Możliwość sprawdzenia typów innych uczestników, będzie udostępniona dopiero po zamknięciu kolejki</li>
    <li class="list-group-item">Przed zamknięciem kolejki, wyświetlane są przybliżone statystyki wysyłanych typów</li>
    <li class="list-group-item">Jeżeli kilka osób ma tyle samo punktów, pod uwagę brane są punkty za prawidłowy wynik</li>
    <li class="list-group-item">Jeżeli kilka osób ma tyle samo punktów oraz taką samą ilość prawidłowych wyników, pod uwagę brane są punkty za wskazanie wygranej drużyny</li>
    <li class="list-group-item"><b>Quiz początkowy można wypełniać do 19.11.2022.</b> Po tym czasie zostanie on zablokowany i nie bedzie można już wprowadzać zmian</li>
    <li class="list-group-item">Punkty za Quiz zostaną przydzielone po meczu finałowym. Do tego czasu pozostaną ukryte</li>
    <li class="list-group-item">W przypadku dogrywki/karnych, pod uwagę brany jest wynik do 90 minuty</li>
    </ol>
</div>
<div class="mt-3">
    <h3 style="text-align: center;">Punktacja</h3>
    <ul class="list-group list-group-flush" style="text-align: center;">
    <li class="list-group-item list-group-item-success"><b>3 pkt</b> – Wskazanie dokładnego wyniku meczu</li>
    <li class="list-group-item list-group-item-info"><b>1.5 pkt</b> – Wskazanie drużyny która wygra mecz (np. mecz zakończył się wynikiem 2:1, a gracz typował 3:2) </li>
    <li class="list-group-item list-group-item-light"><b>0.5 pkt</b> – Prawidłowa odpowiedź w pytaniu z Quizu (20 pytań - 10 punktów do zdobycia) </li>
    </ul>
</div>
<div class="mt-3">
    <h3 style="text-align: center;">Nagrody</h3>
    <ul class="list-group list-group-flush" style="text-align: center;">
    <li class="list-group-item list-group-item-warning"><b>1000 zł</b> – I miejsce</li>
    <li class="list-group-item list-group-item-dark"><b>500 zł</b> – II Miejsce </li>
    <li class="list-group-item" style="background-color: #b08d57;"><b>250 zł </b> – III Miejsce </li>
    <li class="list-group-item list-group-item-success"><b>100 zł </b> – IV i V Miejsce </li>
    <li class="list-group-item list-group-item-light"><b>50 zł </b> – VI Miejsce </li>
    </ul>
</div>
<div class="mt-3">
    <h3 style="text-align: center;">Mapa strony</h3>
    <ul class="list-group list-group-flush" style="text-align: center;">
    <li class="list-group-item"><b>Dashboard</b> - Miejsce do wysyłania typów na aktualną kolejkę</li>
    <li class="list-group-item"><b>Poprzednie kolejki</b> - dane z poprzednich kolejek wraz z typami wszystkich uczesników</li>
    <li class="list-group-item"><b>Tabela</b> - Aktualna klasyfikacja uczestników</li>
    <li class="list-group-item"><b>Mistrzostwa Świata</b> - Wyniki, terminarz</li>
    <li class="list-group-item"><b>Quiz</b> - Twoje odpowiedzi w Quizie. Po 19.11.2022 zostanie wyłączona możliwość wprowadzania zmian</li>
    <li class="list-group-item"><b>Twój profil</b> - Zmiana hasła, ustawienia powiadomień email, lista wszystkich twoich typów</li>
    <li class="list-group-item"><b>HALL OF FAME</b> - Podsumowanie poprzednich edycji Typer-Cup</li>
    </ul>
</div>

<div class="alert alert-dark mt-2" role="alert">
Gdyby pojawiły się jakieś błędy/problemy to dajcie znać na grupie messenger lub piszcie bezpośrednio do mnie <a href="https://m.me/przemek.ambroziak">@Przemek Ambroziak</a>.<br />
</div>