<div class="mt-3">
    <h3 style="text-align: center;">Regulamin TYPER-CUP.PL</h3>
    <ol id="regulations-list-rules" class="list-group list-group-numbered" style="text-align: center;">  
    </ol>
</div>
<div class="mt-3">
    <h3 style="text-align: center;">Punktacja</h3>
    <ul id="regulations-list-points" class="list-group list-group-flush" style="text-align: center;">
    </ul>
</div>
<div class="mt-3">
    <h3 style="text-align: center;">Nagrody</h3>
    <ul id="regulations-list-awards" class="list-group list-group-flush" style="text-align: center;">
    </ul>
</div>
<div class="mt-3">
    <h3 style="text-align: center;">Mapa strony</h3>
    <ul id="regulations-list-site_map" class="list-group list-group-flush" style="text-align: center;">
    </ul>
</div>

<div class="alert alert-dark mt-2" role="alert">
Gdyby pojawiły się jakieś błędy/problemy to dajcie znać na grupie messenger lub piszcie bezpośrednio do mnie <a href="https://m.me/przemek.ambroziak">@Przemek Ambroziak</a>.<br />
</div>