<div class="table-responsive">
<table class="table table-sm table-striped table-hover" style="text-align: center;">
  <thead>
    <caption>
      Z- Ilość zakładów<br/>
      PW - Prawidłowy wynik (3 pkt)<br/>
      WD - Wygrana drużyna (1.5 pkt)<br/>
      P - Przegrana (0 pkt)<br/>
      Q - Punkty za Quiz<br/>
      <span class="badge bg-primary">Procent meczów w których zdobyłeś punkty</span><br/>
      <span class="badge bg-success">Procent możliwych do zdobycia punktów</span></br>
       <span class="badge bg-warning">Jaki procent zdobtych punktów w typerze, stanowią punkty z quizu</span></br>
      <img src="img/crown.svg" style="width: 24px; height: 24px"/> - Aktualny mistrz Typer-Cup
    </caption>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nick</th>
      <th scope="col">Punkty</th>
      <th scope="col">Z</th>
      <th scope="col">PW</th>
      <th scope="col">WD</th>
      <th scope="col">P</th>
      <th scope="col">Q</th>
      <th scope="col">S</th>
    </tr>
  </thead>
  <tbody id="users-stat-table">
  </tbody>
</table>
</div>

